---
import Layout from '../layouts/Layout.astro'

const response = await fetch('http://localhost:8787/home')
const series = await response.json()
const baseUrl= 'https://www.justwatch.com'
---

<Layout title="SeriesDev">
  <header>
	<h1 class="text-4xl text-red-500 ml-3">SeriesDev</h1>
  </header>
  <main>
	{series.map((serie) => (
		<div>
		  <a href={baseUrl+serie.url}/>
		  <img class="mr-5 bg-center" src={serie.img}>
		  <h2 class="mr-5">{serie.tittle}</h2>
		</div>
	  ))}
  </main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		display: flex;
	}
</style>
